* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: #0084fd;
}

.menu-desktop {
    display: none;
}

/* inizio classi di utility */
.space-between {
    display: flex;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.justify-content-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border-20 {
    border-radius: 20px;
}

.img-space {
    margin: 0 auto;
    background-image: url(../img/phone.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

.icon-size {
    font-size: 70px;
}

/* fine classi di utility */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-footer {
    width: 100%;
    height: 30vh;
}

.container-small {
    height: 100%;
    width: 100%;
    background-color: #0084fd;
}

.col {
    width: 100%;
    margin: 2rem 0rem;
    margin: 10px;
}

/* margin class */
.mg15 {
    margin: 15px 0px;
}

/* classi di padding */
.pd15-0 {
    padding: 0px 0px 15px 0px;
}

/* classi di text */
.text {
    width: 80%;
    margin: 0 auto;
}

/* classi di font/font-size */
.font-25 {
    font-size: 25px;
}

.font-20 {
    font-size: 20px;
}

/* classi di colore */
.bg-blue {
    background-color: #0084fd
}

.bg-lightblue {
    background-color: #b5ddff;
}

.bg-lightviolet {
    background-color: #9792e4;
}

.bg-yellow {
    background-color: #fdc15f;
}

.bg-black {
    background-color: #333333;
}

/* text color */
.color-blue {
    color: #0084fd;
}

.color-lightblack {
    color: #5a6e7f;
}

/* fine classi colori */
/* query */
@media screen and (min-width:480px) {
    #jumbo .col:first-child {
        width: calc(100%/3 * 2 - 20px);
    }

    #jumbo .col {
        width: calc(100%/3 - 20px);
    }

    #violet-section-2 .col {
        width: calc(100%/2 - 20px);
    }

    #info .col:first-child {
        width: calc(100%/5 * 3 - 20px);
    }

    #info .col {
        width: calc(100%/5 * 2 - 20px);
    }

    .container-small {
        width: 60%;
    }
}

@media screen and (min-width:768px) {
    .menu {
        display: none;
    }

    .menu-desktop {
        display: inline-block;
    }

    #violet-section .col {
        width: calc(100%/2 - 20px);
    }

    #violet-section-2 .col {
        width: calc(100%/3 - 20px);
    }
}

/* fine query */